@import url("https://fonts.googleapis.com/css?family=Assistant:300,600,700");
/*
 * VARIABLES
 */
/* line 37, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
*, *:before, *:after {
  box-sizing: border-box;
  clear: both; }

/* line 43, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #d7d7d7;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 55, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5em; }

/* line 64, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
span, a, button {
  font-weight: 600; }

/* line 74, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
header .navbar-fixed nav .nav-wrapper {
  padding: 0 10px; }
  /* line 77, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
  header .navbar-fixed nav .nav-wrapper .main-logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  /* line 83, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
  header .navbar-fixed nav .nav-wrapper .sav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    /* line 90, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper .sav-user i {
      margin-right: 5px; }
    /* line 95, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper .sav-user p {
      font-size: 15px;
      margin: 0;
      font-weight: 600; }
  /* line 103, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
  header .navbar-fixed nav .nav-wrapper ul {
    width: 55vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    /* line 111, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper ul .btn {
      margin: -2px 10px 0 10px; }
    /* line 116, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper ul .logout-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2px; }
      /* line 122, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
      header .navbar-fixed nav .nav-wrapper ul .logout-btn:hover {
        background-color: white; }
      /* line 126, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
      header .navbar-fixed nav .nav-wrapper ul .logout-btn i {
        margin-right: 5px; }

/* line 1, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
.pg-dashboard {
  margin-top: 64px;
  padding-top: 20px;
  height: calc(100vh - 64px);
  width: 100vw; }
  /* line 7, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
  .pg-dashboard h2 {
    font-size: 20px;
    color: #A387B6;
    text-transform: uppercase; }
  /* line 13, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
  .pg-dashboard .container {
    height: 100%; }
    /* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
    .pg-dashboard .container .row {
      height: 216px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 23, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
      .pg-dashboard .container .row .col {
        height: 100%; }
        /* line 26, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
        .pg-dashboard .container .row .col .card-home {
          height: 100%; }
          /* line 29, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
          .pg-dashboard .container .row .col .card-home .row {
            height: 100%; }
            /* line 32, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
            .pg-dashboard .container .row .col .card-home .row .s5 {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center; }
              /* line 38, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
              .pg-dashboard .container .row .col .card-home .row .s5 img {
                height: 90%;
                width: auto; }
            /* line 44, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
            .pg-dashboard .container .row .col .card-home .row .s7 {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly; }
    /* line 56, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
    .pg-dashboard .container .secondary-items .s4 {
      height: 100%; }
      /* line 59, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
      .pg-dashboard .container .secondary-items .s4 .card-home {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        /* line 66, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
        .pg-dashboard .container .secondary-items .s4 .card-home img {
          height: 30%;
          width: auto; }

/* line 1, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
.pg-receipt-home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 8, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
  .pg-receipt-home .container {
    background-color: #ffffff;
    border-radius: 10px; }
    /* line 12, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .container .page-title {
      background-color: #A387B6;
      border-radius: 10px 10px 0 0; }
      /* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .container .page-title h1 {
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px 0; }
    /* line 23, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .container .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      /* line 29, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .container .form-container .form-receipt {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        /* line 36, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
        .pg-receipt-home .container .form-container .form-receipt .input-field {
          width: 100%; }
        /* line 40, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
        .pg-receipt-home .container .form-container .form-receipt span {
          font-size: 20px;
          font-weight: 800; }
        /* line 45, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
        .pg-receipt-home .container .form-container .form-receipt .flashbag {
          margin-top: 20px;
          text-align: center;
          font-weight: 600; }
  /* line 54, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
  .pg-receipt-home .modal .modal-background {
    z-index: 99; }
  /* line 57, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
  .pg-receipt-home .modal .modal-content {
    background-color: #fdfdfd;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center; }
    /* line 65, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .modal .modal-content .modal-title {
      width: 100%;
      padding: 15px;
      background-color: #A387B6; }
      /* line 70, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .modal .modal-content .modal-title h2 {
        color: #ffffff; }
    /* line 74, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .modal .modal-content .notification {
      width: calc(100% - 40px);
      margin: 20px;
      position: relative;
      padding: 30px; }
      /* line 80, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .modal .modal-content .notification i {
        position: absolute;
        top: 5px;
        left: 5px; }
      /* line 86, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .modal .modal-content .notification p {
        text-align: center;
        font-size: 18px; }
    /* line 91, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .modal .modal-content .btn {
      margin-bottom: 25px;
      width: fit-content;
      height: 45px;
      background-color: #009b00;
      letter-spacing: 0.5px;
      font-weight: 600;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      will-change: box-shadow;
      transition: box-shadow 0.2s linear; }
      /* line 101, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .modal .modal-content .btn:hover {
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

/* line 1, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
.pg-receipt-check {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 8, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
  .pg-receipt-check .container {
    background-color: #ffffff;
    border-radius: 10px; }
    /* line 12, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
    .pg-receipt-check .container .page-title {
      background-color: #A387B6;
      border-radius: 10px 10px 0 0; }
      /* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .page-title h1 {
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px 0; }
    /* line 22, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
    .pg-receipt-check .container .check-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
    /* line 28, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
    .pg-receipt-check .container .affichage {
      margin: 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      /* line 34, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .notification {
        height: 105px;
        margin-left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px; }
        /* line 44, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
        .pg-receipt-check .container .affichage .notification i {
          position: absolute;
          top: 10px;
          left: 10px; }
        /* line 49, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
        .pg-receipt-check .container .affichage .notification p {
          text-align: center; }
        /* line 52, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
        .pg-receipt-check .container .affichage .notification .alert-faible-valeur {
          font-size: 16px;
          background-color: #F5A623;
          padding: 5px 10px;
          border-radius: 25px;
          font-weight: 600; }
      /* line 60, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .reception-ok {
        background-color: #169d00;
        color: #ffffff; }
      /* line 64, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .reception-fv {
        background-color: #5477FD;
        color: #ffffff; }
      /* line 68, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .reception-rejected {
        background-color: #D32F2F;
        color: #ffffff; }
      /* line 72, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .reception-comment {
        background-color: #F5A623;
        color: #ffffff; }
      /* line 76, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .reception-comment-rejected {
        background-color: #4b4b4b;
        color: #ffffff; }
      /* line 80, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .affichage .actions-buttons {
        margin-left: 20px; }
        /* line 82, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
        .pg-receipt-check .container .affichage .actions-buttons .add-infos {
          height: auto;
          padding: 5px;
          line-height: 150%;
          margin-bottom: 15px; }
        /* line 88, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
        .pg-receipt-check .container .affichage .actions-buttons .reject-product {
          background-color: #F5A623; }
    /* line 93, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
    .pg-receipt-check .container .bottom-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 99, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .bottom-buttons .link-overview {
        background-color: #5477FD;
        margin-right: 25px; }
      /* line 103, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-check.scss */
      .pg-receipt-check .container .bottom-buttons .link-new-receipt {
        background-color: #16a300; }

/* line 1, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
.pg-receipt-review {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 8, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
  .pg-receipt-review .container {
    background-color: #ffffff;
    border-radius: 10px; }
    /* line 12, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
    .pg-receipt-review .container .page-title {
      background-color: #A387B6;
      border-radius: 10px 10px 0 0; }
      /* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
      .pg-receipt-review .container .page-title h1 {
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px 0; }
    /* line 22, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
    .pg-receipt-review .container .id-product {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
    /* line 29, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
    .pg-receipt-review .container .form-container .buttons-zone {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 35, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
      .pg-receipt-review .container .form-container .buttons-zone .btn-save {
        margin: 0 25px;
        background-color: #16a300; }
      /* line 39, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
      .pg-receipt-review .container .form-container .buttons-zone .modal-button {
        background-color: #D32F2F; }
  /* line 46, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
  .pg-receipt-review .modal-comment .modal-content {
    border-radius: 10px; }
    /* line 48, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
    .pg-receipt-review .modal-comment .modal-content h2 {
      background-color: #A387B6;
      color: #ffffff;
      padding: 10px 0;
      font-size: 24px; }
    /* line 54, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
    .pg-receipt-review .modal-comment .modal-content .actions-delete-comment {
      margin: 25px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 61, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_receipt-review.scss */
      .pg-receipt-review .modal-comment .modal-content .actions-delete-comment .btn-delete {
        margin-left: 20px; }
