@import url("https://fonts.googleapis.com/css?family=Assistant:300,600,700");
/*
 * VARIABLES
 */
/* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
*, *:before, *:after {
  box-sizing: border-box;
  clear: both; }

/* line 22, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #d7d7d7;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 33, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0; }

/* line 42, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
span, a {
  font-weight: 600; }

/* line 52, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
header .navbar-fixed nav .nav-wrapper {
  padding: 0 10px; }
  /* line 55, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
  header .navbar-fixed nav .nav-wrapper .main-logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  /* line 61, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
  header .navbar-fixed nav .nav-wrapper .sav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    /* line 68, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper .sav-user i {
      margin-right: 5px; }
    /* line 73, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper .sav-user p {
      font-size: 15px;
      margin: 0;
      font-weight: 600; }
  /* line 81, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
  header .navbar-fixed nav .nav-wrapper ul {
    width: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    /* line 89, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper ul .btn {
      margin: -2px 10px 0 10px; }
    /* line 94, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
    header .navbar-fixed nav .nav-wrapper ul .logout-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2px; }
      /* line 100, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
      header .navbar-fixed nav .nav-wrapper ul .logout-btn:hover {
        background-color: rgba(163, 135, 182, 0.5); }
      /* line 104, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_common.scss */
      header .navbar-fixed nav .nav-wrapper ul .logout-btn i {
        margin-right: 5px; }

/* line 1, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
.pg-dashboard {
  margin-top: 64px;
  padding-top: 20px;
  height: calc(100vh - 64px);
  width: 100vw; }
  /* line 7, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
  .pg-dashboard h2 {
    font-size: 20px;
    color: #A387B6;
    text-transform: uppercase; }
  /* line 13, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
  .pg-dashboard .container {
    height: 100%; }
    /* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
    .pg-dashboard .container .row {
      height: 216px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 23, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
      .pg-dashboard .container .row .col {
        height: 100%; }
        /* line 26, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
        .pg-dashboard .container .row .col .card-home {
          height: 100%; }
          /* line 29, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
          .pg-dashboard .container .row .col .card-home .row {
            height: 100%; }
            /* line 32, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
            .pg-dashboard .container .row .col .card-home .row .s5 {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center; }
              /* line 38, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
              .pg-dashboard .container .row .col .card-home .row .s5 img {
                height: 90%;
                width: auto; }
            /* line 44, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
            .pg-dashboard .container .row .col .card-home .row .s7 {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly; }
    /* line 56, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
    .pg-dashboard .container .secondary-items .s4 {
      height: 100%; }
      /* line 59, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
      .pg-dashboard .container .secondary-items .s4 .card-home {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        /* line 66, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_dashboard.scss */
        .pg-dashboard .container .secondary-items .s4 .card-home img {
          height: 30%;
          width: auto; }

/* line 1, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
.pg-receipt-home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 8, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
  .pg-receipt-home .container {
    background-color: #ffffff;
    border-radius: 10px; }
    /* line 12, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .container .page-title {
      background-color: #A387B6;
      border-radius: 10px 10px 0 0; }
      /* line 16, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .container .page-title h1 {
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px 0; }
    /* line 23, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
    .pg-receipt-home .container .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      /* line 29, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
      .pg-receipt-home .container .form-container .form-receipt {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        /* line 36, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
        .pg-receipt-home .container .form-container .form-receipt .input-field {
          width: 100%; }
        /* line 40, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
        .pg-receipt-home .container .form-container .form-receipt span {
          font-size: 20px;
          font-weight: 800; }
        /* line 45, Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/pages/_form_verification.scss */
        .pg-receipt-home .container .form-container .form-receipt .flashbag {
          margin-top: 20px;
          text-align: center;
          font-weight: 600; }
