@import url("https://fonts.googleapis.com/css?family=Assistant:300,600,700");
/*
 * VARIABLES
 */
/* line 12, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
  clear: both;
}

/* line 18, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #d7d7d7;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
}

/* line 27, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 42, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper {
  padding: 0 10px;
}

/* line 45, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper .main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 51, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper .sav-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* line 58, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper .sav-user i {
  margin-right: 5px;
}

/* line 63, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper .sav-user h1 {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
}

/* line 71, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper ul {
  width: 45vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 79, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper ul .btn {
  margin: -2px 0 0 0;
}

/* line 84, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper ul .logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

/* line 90, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper ul .logout-btn:hover {
  background-color: rgba(163, 135, 182, 0.5);
}

/* line 94, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
header .navbar-fixed nav .nav-wrapper ul .logout-btn i {
  margin-right: 5px;
}

/* line 105, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section {
  margin-top: 64px;
  padding-top: 20px;
  height: calc(100vh - 64px);
  width: 100vw;
}

/* line 112, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section h2 {
  font-size: 20px;
  color: #A387B6;
  text-transform: uppercase;
}

/* line 119, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container {
  height: 100%;
}

/* line 122, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row {
  height: 216px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 130, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row .col {
  height: 100%;
}

/* line 133, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row .col .card-home {
  height: 100%;
}

/* line 137, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row .col .card-home .row {
  height: 100%;
}

/* line 141, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row .col .card-home .row .s5 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 148, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row .col .card-home .row .s5 img {
  height: 90%;
  width: auto;
}

/* line 154, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .row .col .card-home .row .s7 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* line 167, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .secondary-items .s4 {
  height: 100%;
}

/* line 171, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .secondary-items .s4 .card-home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* line 179, /Applications/MAMP/htdocs/outilSav/src/SAV/ProcessBundle/Resources/sass/style.scss */
section .container .secondary-items .s4 .card-home img {
  height: 30%;
  width: auto;
}

/*# sourceMappingURL=../public/css/style.map */