@import url('https://fonts.googleapis.com/css?family=Assistant:300,600,700');

/*
 * VARIABLES
 */

$grey : #4b4b4b;
$white : #ffffff;
$purple : #A387B6;
$blue : #5477FD;
$red : #D32F2F;
$green : #1ABC00;
$orange : #F5A623;

// BOX SHADOW

$box-shadow-1:  0 2px 2px 0 rgba(0,0,0,0.14),
                0 3px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);

$box-shadow-2:  0 4px 5px 0 rgba(0,0,0,0.14),
                0 1px 10px 0 rgba(0,0,0,0.12),
                0 2px 4px -1px rgba(0,0,0,0.3);

$box-shadow-3:  0 8px 17px 2px rgba(0,0,0,0.14),
                0 3px 14px 2px rgba(0,0,0,0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.2);

$box-shadow-4:  0 16px 24px 2px rgba(0,0,0,0.14),
                0 6px 30px 5px rgba(0,0,0,0.12),
                0 8px 10px -7px rgba(0,0,0,0.2);

$box-shadow-5:  0 24px 38px 3px rgba(0,0,0,0.14),
                0 9px 46px 8px rgba(0,0,0,0.12),
                0 11px 15px -7px rgba(0,0,0,0.2);

*, *:before, *:after
{
  box-sizing: border-box;
  clear: both;
}

html, body
{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #d7d7d7;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

span, a, button{
  font-weight: 600;
}

header
{
  .navbar-fixed
  {
    nav
    {
      .nav-wrapper
      {
        padding: 0 10px;
        .main-logo
        {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .sav-user
        {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          i
          {
            margin-right: 5px;
          }

          p
          {
            font-size: 15px;
            margin: 0;
            font-weight: 600;
          }
        }

        ul
        {
          width: 55vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          .btn
          {
            margin: -2px 10px 0 10px;
          }

          .logout-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2px;

            &:hover{
              background-color: lighten($red, 50%);
            }

            i
            {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}