{% extends "SAVProcessBundle::layout.html.twig" %}

{% block view %}

    <section class="pg-receipt-home">
        <div class="container">
            <div class="row">
                <div class="col s6 offset-s3">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}