<div class="modal modal-panne-non-constatee">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal-title">
            <h2>Panne déclarée non-constatée</h2>
        </div>
        <div class="modal-container">
            <div class="notification is-info">
                <i class="material-icons">info</i>
                <span>{{ 'Mettre le produit à dispositon du client' | upper}}</span>
            </div>
            <div class="modal-actions">
                <a href="{{ path('home_dashboard') }}" class="btn-large waves-effect waves-light btn-confirm">{{ 'confirmer et clore le traitement' | upper }}</a>
            </div>
        </div>
    </div>
</div>